<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <h3>Welcome, please register for great recipes</h3>
    <form #form="ngForm">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" ngModel #email required id="email" name="email">
      </div>
      <div class="form-group">
        <label for="pwd">Password</label>
        <input type="pwd" class="form-control" ngModel #pwd required id="pwd" name="pwd">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" (click)="onSubmit(form)">Sign in</button>
      </div>
    </form>
  </div>
</div>
