<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onAddItem(ingredientForm)" #ingredientForm="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            name="name"
            required
            ngModel
            #name="ngModel"
            >
          <div class="alert alert-danger" *ngIf="!name.valid && name.touched">
            <p>Please enter the required ingredient</p>
          </div>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            id="amount"
            class="form-control"
            name="amount"
            required
            ngModel
            #amount="ngModel"
            pattern="^[1-9]+[0-9]*$"
            >
          <div class="alert alert-danger" *ngIf="!name.valid && name.touched">
            <p>Please enter the required amount</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" [disabled]="!ingredientForm.valid">{{selectedIndex < 0 ? 'Add' : 'Update'}}</button>
          <button class="btn btn-danger" type="button" (click)="onRemoveItem()" [disabled]="selectedIndex < 0 ">Delete</button>
          <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
